<link rel="stylesheet" href="../css/AboutUs.css">
<!-- Acerca de nosotros  -->
<footer>
    <section class="splash" id="SectionAbout">
        <h1 class="text-light text-center">Acerca de nosotros</h1>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, pariatur voluptas. Ea ad perferendis dolores adipisci. Reiciendis, temporibus alias. Nemo repellat ab voluptate ducimus dolorum quisquam labore fugit repellendus velit?
        Laudantium, corporis delectus exercitationem ab modi ratione porro placeat impedit pariatur id earum vero numquam dicta blanditiis eum? Corrupti atque eum impedit. Voluptates ut dolores optio, aspernatur dolor alias incidunt?</p>
    </section>
</footer>
