<footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span>StreetWiseFitness</span>
          </a>
          <p>En nuestra comunidad fitness, promovemos la excelencia física y el bienestar integral. Unidos, creamos un entorno de apoyo y motivación para alcanzar la mejor versión de nosotros mismos.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-6 footer-links">
          <h4>Enlaces Rapidos</h4>
          <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="../inicio/productos">Productos</a></li>
            <li><a href="#">Recetas</a></li>
            <li><a href="/registroUsuario">Crear Cuenta</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactanos</h4>
          <p>Medellin</p>
          <p>Colombia</p>
          <p class="mt-4"><strong>Celular:</strong> <span>324-562-1478</span></p>
          <p><strong>Correo:</strong> <span>StreetWiseF@gmail.com</span></p>
        </div>

      </div>
    </div>

  </footer>