<link rel="stylesheet" href="../css/nav_img.css">

<div class="container-fluid img-fluid mt-1">
    <div class="banner-image text-left txt">
      <p class="display-1 text-white title">¿Que somos?</p>
      <p class="text-white"> En StreetWiseFitness, nos dedicamos a empoderarte en tu búsqueda de una vida saludable y activa. 
        <br>
        Somos un espacio dinámico donde usuarios y entrenadores se conectan, 
        <br>
        interactúan y crean una comunidad sólida para alcanzar sus metas fitness juntos. <br>
      </p>
      <a href="/" type="button" class="btn btn-light btn btn-outline-dark">Acceder</a>
    </div>
</div>