<!-- en este partial se asigna una barra de navegacion para ser utilizada en las vistas -->
<link rel="stylesheet" href="../css/navbar.css">
   <nav class="navbar navbar-fluid fixed-top navbar-dark p-md-3 text-white">
    <div class="container">
        <a href="/inicio" class="navbar-brand brand ">StreetWiseFitness</a>
        <button type="button" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../inicio/recetas" class="nav-link text-white">Recetas de la comunidad</a>
                </li>  
                <li class="nav-item">
                    <a href="../inicio/productos" class="nav-link text-white">Productos</a>
                </li>
                <li class="nav-item">
                    <a href="../inicio/createPlan" class="nav-link text-white">Planes de la comunidad</a>
                </li>
                <li class="nav-item">
                    <a href="../inicio/cerrarSesion" class="nav-link text-white">Cerrar Sesion</a>
                </li>  
            </ul>
        </div>
    </div>
</nav>
<script src="../js/navbar.js"></script>
<script src="../js/bootstrap.js"></script>

