.content .container a{
    color: #fff;
    text-decoration: none;
}

.content .container .btn-out{
    margin-left: 580px;
}


p {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}


.content {
    padding: 30px 0;
    background-color: #31095c;
}

h2 {
    font-size: 20px;
    color: #fff;
}

.user-table {
    min-width: 900px;
}

.user-table thead tr,
.user-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.user-table tbody th,
.user-table tbody td {
    color: #dddada;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.user-table tbody th small,
.user-table tbody td small {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

.user-table tbody th a,
.user-table tbody td a {
    color: rgba(255, 255, 255, 0.3);
}

.user-table tbody th .more,
.user-table tbody td .more {
    color: rgba(255, 255, 255, 0.3);
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

.user-table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.user-table tbody tr:hover td,
.user-table tbody tr:focus td {
    color: #fff;
}

.user-table .td-box-wrap {
    padding: 0;
}

.user-table .box {
    background: #fff;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.user-table .box td,
.user-table .box th {
    border: none !important;
}
