.footer {
    background-color: #f8f7f7;
    font-size: 14px;
  }
  
  .footer .footer-top {
    padding-top: 50px;
  }
  
  .footer .footer-about .logo {
    line-height: 0;
    margin-bottom: 25px;
    text-decoration: none;
  
  }
  
  .footer .footer-about .logo span {
    color: #31095c;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Calistoga', cursive;
  }
  
  .footer .footer-about p {
    font-size: 14px;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #f8f7f7;
    font-size: 16px;
    color: #31095c;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #f8f7f7;
    background-color: #31095c;
  
  }
  
  .footer h4 {
    color: #31095c;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
    text-decoration: none;
    padding-left: 150px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul a {
    color: #161516;
    text-decoration: none;
  }
  