@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }
  .card{
    overflow:hidden;
    border-radius: 10px;
    min-height:500px;
  }

  
  .p-left{
    width:45%;
    background: rgb(0,0,0);
    background: linear-gradient(50deg, rgba(0,0,0,1) 0%, rgba(62,0,71,1) 35%, rgba(0,48,57,1) 100%);
  }

  .text{
      font-size: 45px;
      margin-top: 40%;
      text-transform: capitalize;
      font-family: 'Murecho', sans-serif;
  }

.text-p {
      margin-top: 20px;
      text-align: center;
      margin: 20px;
      font-family: 'Rajdhani', sans-serif;

  }

  button[type = 'submit']{
    border-radius:100px;
    background-color: rgb(50, 1, 58) ;
    color: white;
    text-decoration: none;
}

  button:hover[type = 'submit']{
    border-radius:100px;
    background-color: rgb(249, 244, 250) ;
    color: rgba(62,0,71,1);
    text-decoration: none;
}

a:link {

    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  .card-body{
    padding:2rem;
  }

  .title {
      font-size: 35px;
      font-family: 'Murecho', sans-serif;
      text-transform: capitalize;

  }

  input[type = 'text'],input[type = 'email'],input[type = 'number'], input[type = 'password']{
    border-radius:100px;
    border:none;
    background: #eaedf0;
  }
  input[type = 'submit']{
    border-radius:100px;
    background-color: rgba(62,0,71,1) ;
    color: white;
  }

  input:hover[type = 'submit']{
    border-radius:100px;
    background-color: rgb(221, 221, 221) ;
    color: rgba(62,0,71,1);
}

input[type = 'file']{
  border-radius:100px;
  background-color: rgba(62,0,71,1) ;
  color: white;
}
